# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.cache/

# Virtual environments
venv/
.venv/

# Node
node_modules/
gui/node_modules/

# Build folders
dist/
build/

# Electron/Vite
gui/dist/
gui/build/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Logs
*.log